{
    "plugins": [
      ["import", "component",{
        "libraryName": "muse-ui",
        "libraryDirectory": "lib",
        "camel2DashComponentName": false,
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }],
    ],
  }