.mu-input.mu-input__focus {
    color: #666;
}
.mu-item__open .toggle-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.toggle-icon {
    color: $c-cheng;
}
.mu-bottom-item-active{
    color: rgba(0, 0, 0, 0.54);
}
.mu-step-label {
    height: 20.571vw;
    color: rgba(0,0,0,.87);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 4vw;
    padding-left: 0vw;
    padding-right: 0vw;
    content: "viewport-units-buggyfill; height: 20.571vw; font-size: 4vw; padding-left: 4vw; padding-right: 4vw";
}
 .mu-step-label-icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    z-index: 6;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 0vw !important;
    width: auto !important;
    content: "viewport-units-buggyfill; margin-right: 2.286vw; width: 6.857vw";
}
.mu-step-label-circle{

}


.mu-stepper .mu-step-label.active{
    color: $c-cheng;
}
.mu-stepper {
    .mu-step-label.active .mu-step-label-circle, .mu-step-label.completed .mu-step-label-circle {
        background-color: $c-cheng;
    }
    .mu-step-label-circle {
        width: 10px;
        height: 10px;
        font-size: 3.429vw;
        line-height: 5.714vw;
        text-align: center;
        overflow: hidden;
        border-radius: 100%;
        color: transparent;
        content: "viewport-units-buggyfill; width: 5.714vw; height: 5.714vw; font-size: 3.429vw; line-height: 5.714vw";
    }
}



.bottom-nav.mu-bottom-nav{
    z-index: 99999;
    .iconfont{
         height: 20px;
         line-height: 18px;

        font-size: 26px;
    }
}
.mu-button.mu-carousel-indicator-button.mu-icon-button.mu-carousel-indicator-button__active{
    padding: 0px;
    .mu-carousel-indicator-icon {
        display: inline-block;
        background-color: $c-cheng;
    }
}

.mu-appbar{
    .mu-appbar-left {
        padding-right: 0px;
    }
    position: fixed;
    top: 0px;
    left: 0px;
    height: 44px;
    font-family:SourceHanSansCN-Normal;
    .mu-appbar-title{
        padding: 0;
        text-align: center;
        color: $c-black;
        font-family:SourceHanSansCN-Normal;
        font-weight:bold;
    }
}


.wrap .mu-sub-header {
    color: $c-black;
    height: auto;
    font-family:SourceHanSansCN-Normal;
    line-height: 1.25;
    font-weight:bold;

}

.margin-left{
    margin-left: 12px;
}
.margin-auto{
    margin: 12px 0 12px 12px;
}
.margin-top{
    margin-top:12px;
}
.margin-bottom{
    margin-bottom: 12px;
}
.margin-right{
    margin-right: 12px;
}
.font{
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.font-min{
    font-size:12px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(112,112,112,1);
}

.position-r {
    position: relative;
    top: -3px;
}
.mu-option.is-selected .mu-item {
    color: $c-cheng !important;
}
.mu-dialog-actions .mu-button-wrapper{
    color: #2196f3 !important;
}
.mu-item-title{
    //padding-left: 10px;
    font-size: 13px;
}
.mu-list p{
    padding: 0 10px;
    font-size: 12px;
}


.mu-raised-button{
box-shadow: none;
}

.mu-input-label.float{
color: $c-bai !important;
}
.mu-text-field-input{
    color: #fff !important;
}