//@import url('//at.alicdn.com/t/font_1145003_aygyl5ubc2o.css');
//全局变量
$gw: 375px;
$banner-h: 160px;
$primaryColor: '#fff';
$c-black: #333333;
$c-hui: rgba(234,234,234,1);;
$c-bai: #fff;
$c-cheng: #EFA220;
$c-warning: red;
$c-lang: rgba(18, 150, 219, 1);
$nav-bar-h:44px;
.text-center{
  text-align: center;
}
.content-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-margin-top{
  margin-top: $nav-bar-h;
}
.pwd-wrap{
  width: 80%;
}
@import './muse-ui-message.scss';
@import './fuXie.scss';

